@font-face {
   font-family: 'KlinkOMite';
   src: url('KlinkOMite/font.TTF');
}
@font-face {
   font-family: 'Mystic Prophet';
   src: url('Mystic Prophet/font.TTF');
}
@font-face {
   font-family: 'Cinzel Decorative Black';
   src: url('Cinzel Decorative Black/font.TTF');
}
